header {
  text-align: center;
  color: #e76e34;
  font-family: monospace;
  font-size: 31px;
}
#palePink {
  background-color: #f5c6d6;
  margin-left: 19%;
  height: 90px;
  width: 60.4%;
}

#hotPink1 {
  display: inline-block;
  background-color: #ee2e84;
  height: 90px;
  width: 14.2%;
  margin-left: 19%;
  margin-top: 9px;
  margin-right: 9px;
}

.hotPink {
  display: inline-block;
  background-color: #ee2e84;
  height: 90px;
  width: 14.3%;
  margin-top: 9px;
  margin-right: 9px;
}

#paleBlue1 {
  display: inline-block;
  background-color: #85cfd8;
  height: 90px;
  width: 29.7%;
  margin-left: 19%;
  margin-top: 9px;
  margin-right: 9px;
}

#paleBlue {
  display: inline-block;
  background-color: #85cfd8;
  height: 90px;
  width: 29.7%;
  margin-top: 9px;
  margin-right: 9px;
}

#limeGreen {
  display: inline-block;
  background-color: #8dc63f;
  width: 44.5%;
  height: 90px;
  margin-top: 9px;
  margin-right: 9px;
  margin-left: 19%;
}

#orange {
  display: inline-block;
  background-color: #e76e34;
  width: 15%;
  height: 90px;
  margin-top: 9px;
  margin-right: 9px;
}
