* {
  box-sizing: border-box;
}

.color {
  width: 100%;
  height: 9px;
  background:rgb(28, 78, 82);

}
body {
  font-size: 70%
  font-family: 'Libre Baskerville', sans-serif;
  padding: 0;
  margin: 0;
}



h1 {
  text-align: center;
}

h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 80px;
    height: 80px;
    margin: -20px 20px 0 0;
    background: url(enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

h2::before {
  content: " ";
  padding: 50px;
}
